<center>
    <!-- <div ng-if="nav.search"> 
        <i class="fa fa-circle-o-notch  fa-spin"></i>
        Looking For:  <code>{{nav.search}}</code>
    </div> -->
</center>

<div 
    id="cover" 
    class=" uk-cover-container uk-height-large uk-text-center" 
    style="background-color:#1976D2 !important; background-image: url(assets/img/bg3.png);min-height:15em;"
>

    <br>
    <img style="" src="assets/img/logo_blank.png" alt="Jambopay">
  
    <br> <br>
    <br>
    <br>
    <div class="uk-card uk-card-body">
        <div class="uk-grid">
            <div class="uk-width-1-5">
                <a class=" uk-button uk-button-large btn-primary uk-button-primary" ui-sref="app.dotnet_sdk">
                    <font class="col-black" style="text-shadow:1px 1px #fff;">.NET</font> <font style="text-shadow:1px 1px black;">SDK</font>
                </a>
            </div>
            <div class="uk-width-1-5">
                <a class=" uk-button uk-button-large btn-primary uk-button-primary"  ui-sref="app.nodejs_sdk">
                    <font class="col-black" style="text-shadow:1px 1px #fff;">Node.js</font> <font style="text-shadow:1px 1px black;">SDK</font>
                </a>
            </div>
            <div class="uk-width-1-5">
                <a class=" uk-button uk-button-large btn-primary uk-button-primary"  ui-sref="app.php_sdk">
                    <font class="col-black" style="text-shadow:1px 1px #fff;">PHP</font> <font style="text-shadow:1px 1px black;">SDK</font>
                </a>
            </div>
            <div class="uk-width-1-5">
                <a class=" uk-button uk-button-large btn-primary uk-button-primary" ui-sref="app.java_sdk">
                    <font class="col-black" style="text-shadow:1px 1px #fff;">Java</font> <font style="text-shadow:1px 1px black;">SDK</font>
                </a>
            </div>
            <div class="uk-width-1-5">
                <a class=" uk-button uk-button-large btn-primary uk-button-primary" ui-sref="app.python_sdk">
                    <font class="col-black" style="text-shadow:1px 1px #fff;">Python</font> <font style="text-shadow:1px 1px black;">SDK</font>
                </a>
            </div>
        </div>
        <br>
    </div>
    
</div>



<div ui-view></div>