<h3 class="heading_b uk-margin-bottom">JAMBOPAY SMS</h3>
<div class="login_page_wrapper" >
   
    <br>
    <br>
    <br>
    <br>
   
    <div 
        ng-init="data.password_recovery = data.password_recovery || {}"
        class="md-card uk-width-medium-1-3 uk-align-center uk-position-center uk-animation-fade" 
        id="password_recovery_card" style="background: rgba(255,255,255,0.7)"
        
    >
        <div 
            class="md-card-content large-padding uk-animation-fade" 
            id="password_recovery_form"
           
        >
        <button ng-click="goTo('app.login')" type="button" class="uk-position-top-right uk-close uk-margin-right uk-margin-top back_to_login"></button>
            <div class="login_heading">
                <div class="user_avatar uk-position-center" >
                  <center>
                        <img class="logo_regular" src="assets/img/jambopay_lg.png" alt="" width="200" height="40">
                        <br><br>
                        <span 
                            class="col-black uk-text-large bg-gray uk-padding uk-border-rounded uk-text-bold">
                            <code>Password Recovery for</code> 
                            {{recovery_email}}
                        </span>
                    </center>
                </div>
            </div>
            <br>
            <form name="password_recovery_form">
                <div class="uk-form-row">
                    <div class="md-input-wrapper">
                        <label for="password_recovery_username" ng-hide="data.password_recovery.password||password_recovery_form.password.$dirty">New Password</label>
                        <input 
                            type="password" 
                            class="md-input uk-text-center"
                            name="password" 
                            ng-model="data.password_recovery.password" 
                            ng-pattern="app.ispassword"
                        required>
                        <span class="md-input-bar "></span>
                        <div 
                            class="help-block" 
                            style="font-family:  'Andale Mono', sans-serif;color:orangered; text-align: center !important;" 
                            ng-messages="password_recovery_form.password.$error" ng-if="password_recovery_form.password.$touched">
                                <p class="col-red" ng-message="required">A password is required.</p>
                                <p class="col-red" ng-message="pattern">Please enter a stronger password.</p>
                        </div>
                    </div>
                    
                </div>
                <div class="uk-form-row">
                    <div class="md-input-wrapper">
                        <label for="password_recovery_password" ng-hide="data.password_recovery.password2||password_recovery_form.password2.$dirty">Repeat New Password</label>
                        <input 
                        name="password2"
                        type="password" 
                        class="md-input uk-text-center"
                        ng-model="data.password_recovery.password2" 
                        ng-pattern="app.ispassword" 
                        required>
                        <span class="md-input-bar "></span>                      
                        <div 
                            class="help-block" 
                            style="font-family:  'Andale Mono', sans-serif;color: orangered;text-align: center !important;" 
                            ng-messages="password_recovery_form.password2.$error||data.password_recovery.password!=data.password_recovery.password2" ng-if="password_recovery_form.password2.$touched">
                                <p class="col-red" ng-message="required">A password is required.</p>
                                <p class="col-red" ng-message="pattern">Please enter a more secure password.</p>
                                <p class="col-red" ng-if="!app.matches(data.password_recovery.password,data.password_recovery.password2)&&data.password_recovery.password">The passwords don't match.</p>
                        </div>
                    </div>
                    
                </div>
                <div class="uk-margin-medium-top">
                    <button
                        disabled="false" 
                        class="md-btn md-btn-block md-btn-large"
                        ng-class="(password_recovery_form.$valid)? 'md-btn-primary' : 'md-btn-danger'"
                        ng-disabled="password_recovery_form.$invalid" 
                        ng-click="app.notify('Attempting password recovery','info',1000);password_recover(recovery_url_tail,data.password_recovery)"    
                    >UPDATE PASSWORD</button> 
                </div>

                <div class="uk-margin-top uk-text-center">
                        <a  
                            id="signup_form_show" 
                            ui-sref="app.login" 
                            style="display: inline;">Login</a>
                    </div>
               
               
            </form>
           
        </div>
        
    
    </div>
   
</div>