<h3 class="heading_b uk-margin-bottom">JAMBOPAY SMS</h3>
<div style="width:100%; min-height:100%;border:opx !important;">

        <br>
        <br>
        <br>
        <br>

    <div class=" uk-animation-fade">
        <div class="md-card uk-width-medium-1-3 uk-align-center uk-position-center" id="login_card" style="background-color: rgba(255,255, 255, 0.7); transform: scale(1);">
            
            <div class="md-card-content large-padding" id="login_password_reset" style="">
                <button ng-click="goTo('app.login')" type="button" class="uk-position-top-right uk-close uk-margin-right uk-margin-top back_to_login"></button>
                <h2 class="heading_a uk-margin-large-bottom">Reset password</h2>
                <form name="recovery_form">

                    <div class="uk-form-row">
                        <div class="md-input-wrapper">
                            <label for="email" ng-hide="data.recovery.email||recovery_form.email.$dirty">Email</label>
                            <input 
                                type="text" 
                                class="md-input uk-text-center"
                                name="email" 
                                ng-model="data.recovery.email" 
                                ng-pattern="app.isemail"
                            required>
                            <span class="md-input-bar "></span>
                            <div 
                                class="help-block" 
                                style="font-family:  'Andale Mono', sans-serif;color:orangered; text-align: center !important;" 
                                ng-messages="recovery_form.email.$error" ng-if="recovery_form.email.$touched">
                                    <p class="col-red" ng-message="required" class="uk-text-danger">Please enter an email address.</p>
                                    <p class="col-red" ng-message="pattern" class="uk-text-danger">Please enter an actual email address.</p>
                            </div>
                        </div>
                        
                    </div>
                    <div class="uk-margin-medium-top">
                        <a 
                            ng-disabled="recovery_form.$invalid" 
                            ng-click="recover_password(data.recovery.email);app.loadify(1000,'Attempting Password Reset')" 
                            disabled="true"
                            ng-class="(recovery_form.$invalid) ? 'md-btn-danger' : 'md-btn-primary'" 
                            class="md-btn md-btn-block"
                        >Reset password</a>
                    </div>
                </form>

                <div class="uk-margin-top uk-text-center">
                    <a ui-sref="app.login" id="signup_form_show" style="display: inline;">Login</a>
                </div>
            </div>
            
        </div>            
    </div>


</div>
