<!-- (UPLOAD + TYPED TEMPLATE) BASED -->
<div class="md-card uk-border-rounded uk-margin-medium-bottom" ng-init="app.setVar(frame,'currTab','direct_bulk')">
    <div class="">
        <div class="md-card-header"style="padding-top:1em;padding-left:1em;">
                <h5 class="col-blue" style="font-family: 'Andale Mono', sans-serif;"><u>DIRECT BULK SMS</u></h5>
        </div> 
        <div class="md-card-content">
            <form name="direct_bulk_sms_form" class="uk-animation-slide-right" style="" ng-init="data.direct_bulk_msg = data.direct_bulk_msg || { body : {}}" novalidate>

                <div class="uk-grid" data-uk-grid-margin>

                    <div class="uk-width-medium-1-3 uk-width-large-1-4" >  
                        <label>Sender <sup style="color:red">*</sup></label>
                        <md-select name="sender" ng-model="data.direct_bulk_msg.sender" style="padding-top:3.5em !important;" placeholder="PICK A SENDER"  required>
                            <md-option value="">...</md-option>
                            <md-option ng-repeat="org in getRoles()" ng-value="org" >{{org}}</md-option>
                        </md-select>
                        <div class="help-block" style="font-family:  'Andale Mono', sans-serif;" ng-messages="direct_bulk_sms_form.sender.$error" ng-if="direct_bulk_sms_form.sender.$touched">
                            <p class="col-red" ng-message="required" class="uk-text-danger">A message sender is required.</p>
                        </div>
                    </div>

                    <div class="uk-width-medium-1-3 uk-width-large-1-4">
                        <label>Message Text<sup class="uk-text-danger">*</sup> </label>
                        
                        <textarea style="text-align:justify;font-family: 'Andale Mono', sans-serif;" placeholder="Dear Client, thank you for attending the product launch event ..." cols="30" name="message" class="md-input " ng-minlength="5"
                            ng-model="data.direct_bulk_msg.message" required></textarea>
                        <!-- <code ng-if="data.direct_bulk_msg.message">Approximately {{data.direct_bulk_msg.message.length}} Characters  [ {{app.countSMS(data.direct_bulk_msg.message)}} Message(s)]</code> -->
                        <p class="col-teal" ng-if="data.direct_bulk_msg.message">{{data.direct_bulk_msg.message.length}} Characters  [ {{app.countSMS(data.direct_bulk_msg.message)}} Message{{(app.countSMS(data.direct_bulk_msg.message)>1)?'s ':' '}}]</p>

                        <div class="help-block" style="font-family:  'Andale Mono', sans-serif;" ng-messages="direct_bulk_sms_form.message.$error" ng-if="direct_bulk_sms_form.message.$touched">
                            <p class="col-red" ng-message="required">A message is required.</p>
                            <p class="col-red" ng-message="minlength">Please enter a longer message.</p>
                        </div>
                    </div>

                    <div class="uk-width-medium-1-3 uk-width-large-1-4">
                        <label>CSV File<sup class="uk-text-danger">*</sup> </label>
                        <br><br>
                        <div class="uk-width-1-1">
                            <div class="uk-form-file md-btn uk-border-rounded btn-block " ng-class="(data.direct_bulk_msg.csv_sms)? 'md-btn-primary':'md-btn-warning'" style="margin-top:1.5em !important;">
                                {{(data.direct_bulk_msg.contacts==undefined) ? 'PICK A DATA FILE' : 'USING SELECTED FILE'}}
                                <input id="form-file" type="file" name="contacts" file-model="data.direct_bulk_msg.contacts" accept=".csv" required>
                            </div>
                        </div>
                    </div>                                            

                    <div class="uk-width-medium-1-3 uk-width-large-1-4">

                        <button 
                            style="margin-top:4.9em !important;"
                            ng-disabled="direct_bulk_sms_form.$invalid||!data.direct_bulk_msg.contacts" 
                            ng-class="(!direct_bulk_sms_form.$invalid&&data.direct_bulk_msg.contacts)?'md-btn-success uk-animation-slide-right':'md-btn-danger'" 
                            class="md-btn" 
                            ng-click="app.custom_upload( data.direct_bulk_msg,'sms/direct_bulk' ).then(app.handler);app.notify('Attempting to send custom messages.');data.direct_bulk_msg={ }"
                        >SEND SMS</button>
                    </div>

                </div>


            </form>
        </div>
    </div>
</div>