<div class="" ng-init="handlers.isLogedIn().then(handlers.identity).then(app.doNothing).catch(app.doNothing);"></div>
<div ng-init="frame.currTab = (frame.currTab != undefined) ? frame.currTab : 'add' "></div>

    <!-- <div class="tm-sidebar-left uk-visible@m" style="border-right:1px solid;">
        <ul class="uk-nav"> 
                <li class="uk-nav-header"><a ui-sref="app.client.tags">TAGS</a>    </li>
                <li class="uk-nav-header"><a ui-sref="app.client.templates">TEMPLATES</a>    </li>
                <li class="uk-nav-header"><a ui-sref="app.client.campaigns">CAMPAIGNS</a>    </li>
                <li class="uk-nav-header"><a ui-sref="app.client.contacts">CONTACTS</a>    </li>
        </ul>
    </div>
    <div class="tm-main uk-section uk-section-default"> -->
        <div class="" ui-view>             
        </div>
    <!-- </div>
     
</div> -->

