<div class="" ng-init="handlers.isLogedIn().then(handlers.identity).then(app.doNothing).catch(app.doNothing)"></div>
<h3 class="heading_b uk-margin-bottom">JAMBOPAY SMS</h3>

<div ng-init="data.contacts = {};fetch([['contacts']]);" class="md-card uk-border-rounded uk-margin-medium-bottom">
    <div class="md-card-content">
        <div class="uk-grid" data-uk-grid-margin="">
            <div class="uk-width-1-1 uk-row-first" ng-init="actTab='add'">
                <ul class="uk-tab" data-uk-tab="{connect:'#tabs_1'}">
                    <li ng-class="(actTab == 'add') ? 'uk-active bg-yellow' :''" ng-click="actTab ='add'" aria-expanded="{{actTab == 'add'}}"><a disabled='true' >ADD GROUP</a></li>
                    <li ng-class="(actTab == 'edit') ? 'uk-active bg-yellow' :''" ng-click="actTab ='edit'" aria-expanded="{{actTab == 'edit'}}"><a disabled='true' >EDIT GROUPS</a></li>
                    <!-- <li ng-class="(actTab == 'delete') ? 'uk-active bg-yellow' :''" ng-click="actTab ='delete'" aria-expanded="{{actTab == 'delete'}}"><a disabled='true'>DELETE GROUP</a></li> -->
                    <li class="uk-disabled pull-right" aria-expanded="false" ><a class="uk-button uk-button-small" style="cursor: pointer;" href="{{app.hlink}}/samples/groups">Sample Template</a></li>
                    <li class="uk-disabled pull-right" aria-expanded="false"><a disabled='true'  ><font color="red">{{fetched.contacts.length}}</font> <font class="col-blue"></font>available contact{{fetched.contacts.length > 1 ? 's' : ''}}</a></li>
                    <li class="uk-tab-responsive uk-active uk-hidden" aria-haspopup="true" aria-expanded="false"><a disabled='true'>Active</a>
                        <div class="uk-dropdown uk-dropdown-small" aria-hidden="true">
                            <ul class="uk-nav uk-nav-dropdown"></ul>
                        </div>
                    </li>
                </ul>
                <ul  class="uk-switcher uk-margin">
                    
                    <li aria-hidden="{{actTab=='add'}}" ng-class="(actTab == 'add') ? 'uk-active' :''">
                        
                            <div class="uk-grid md-card">

                                    <div class="uk-width-medium-2-3 ">
                                        <div class="uk-grid ">
                                            <div class="uk-width-1-1 md-card">
            
                                                <div class="md-card-header" style="padding-top:1em;">
                                                    <h5 class="col-blue" style="font-family: 'Andale Mono', sans-serif;"><u>CONTACT ADDITION</u></h5>
                                                </div>
            
                                                <div class="md-card-content">
    
                                                    <form name="contact_addition_form" novalidate>
                        
                                                        <div class="uk-grid uk-form-row" >
                        
                                                            <md-input-container class="uk-width-medium-1-3">
                                                                <label>First Name<sup style="color:red">*</sup></label>
                                                                <input type="text" ng-model="data.contacts.contact_first_name" name="contact_first_name" ng-maxlength="30"  class="md-input" required>
                                                                <div class="help-block" style="font-family:  'Andale Mono', sans-serif;" ng-messages="contact_addition_form.contact_first_name.$error" ng-if="contact_addition_form.contact_first_name.$touched">
                                                                    <p class="col-red" ng-message="required">A Contact first name is required.</p>
                                                                    <p class="col-red" ng-message="maxlength">Please enter a shorter first name.</p>
                                                                </div>
                                                            </md-input-container>
                        
                                                            <md-input-container class="uk-width-medium-1-3">
                                                                <label>Middle Name<!--sup style="color:red">*</sup--></label>
                                                                <input type="text" ng-model="data.contacts.contact_middle_name" name="contact_middle_name" ng-maxlength="30"  class="md-input" >
                                                                <div class="help-block" style="font-family:  'Andale Mono', sans-serif;" ng-messages="contact_addition_form.contact_middle_name.$error" ng-if="contact_addition_form.contact_middle_name.$touched">
                                                                    <p class="col-red" ng-message="required">A Contact middle name is required.</p>
                                                                    <p class="col-red" ng-message="maxlength">Please enter a shorter middle name.</p>
                                                                </div>
                                                            </md-input-container>
                        
                                                            <md-input-container class="uk-width-medium-1-3">
                                                                <label>last Name<sup style="color:red">*</sup></label>
                                                                <input type="text" ng-model="data.contacts.contact_last_name" name="contact_last_name" ng-maxlength="30"  class="md-input" required>
                                                                <div class="help-block" style="font-family:  'Andale Mono', sans-serif;" ng-messages="contact_addition_form.contact_last_name.$error" ng-if="contact_addition_form.contact_last_name.$touched">
                                                                    <p class="col-red" ng-message="required">A Contact last name is required.</p>
                                                                    <p class="col-red" ng-message="maxlength">Please enter a shorter last name.</p>
                                                                </div>
                                                            </md-input-container>
                                                        
                                                        </div>
                        
                                                        <div class="uk-grid uk-form-row" >
                                                                
                                                            <md-input-container class="uk-width-medium-1-3">
                                                                <label>Phone Number<sup style="color:red">*</sup></label>
                                                                <input type="text" ng-model="data.contacts.contact_phone_number" name="contact_phone_number" ng-maxlength="15" ng-pattern="app.istelephone"  class="md-input" required>
                                                                <div class="help-block" style="font-family:  'Andale Mono', sans-serif;" ng-messages="contact_addition_form.contact_phone_number.$error" ng-if="contact_addition_form.contact_phone_number.$touched">
                                                                    <p class="col-red" ng-message="required">A Contact phone number is required.</p>
                                                                    <p class="col-red" ng-message="maxlength">Please enter a shorter phone number.</p>
                                                                    <p class="col-red" ng-message="pattern">Please enter a valid telephone number.</p>
                                                                </div>
                                                            </md-input-container>
                        
                                                            <md-input-container class="uk-width-medium-1-3">
                                                                <label>Id Number<sup style="color:red">*</sup></label>
                                                                <input type="text" ng-model="data.contacts.contact_identification" name="contact_identification" ng-maxlength="35" ng-minlength="4" class="md-input" required>
                                                                <div class="help-block" style="font-family:  'Andale Mono', sans-serif;" ng-messages="contact_addition_form.contact_identification.$error" ng-if="contact_addition_form.contact_identification.$touched">
                                                                    <p class="col-red" ng-message="required">A Contact identification number is required.</p>
                                                                    <p class="col-red" ng-message="maxlength">Please enter a shorter identification number.</p>
                                                                    <p class="col-red" ng-message="minlength">Please enter a longer identification number.</p>
                                                                </div>
                                                            </md-input-container>
                                                            
                                                            <div class="uk-width-medium-1-3 " style="padding-top:1.2em;">  
                                                                <md-select name="owner" ng-model="data.contacts.contact_owner" placeholder="Organization"  required>
                                                                    <md-option value="">...</md-option>
                                                                    <md-option ng-repeat="contact in getRoles()" ng-value="contact" >{{contact}}</md-option>
                                                                </md-select>
                                                                <div class="help-block" style="font-family:  'Andale Mono', sans-serif;" ng-messages="contact_addition_form.owner.$error" ng-if="contact_addition_form.owner.$touched">
                                                                    <p class="col-red" ng-message="required" class="uk-text-danger">A Contact contactanization is required.</p>
                                                                </div>
                                                            </div>
                        
                                                        </div>
                        
                                                        <div class="uk-grid uk-form-row">
                        
                                                            <md-input-container class="uk-width-medium-1-3">
                                                                <label>County<!--sup style="color:red">*</sup--></label>
                                                                <input type="text" ng-model="data.contacts.contact_county" name="contact_county" ng-maxlength="45" class="md-input" >
                                                                <div class="help-block" style="font-family:  'Andale Mono', sans-serif;" ng-messages="contact_addition_form.contact_county.$error" ng-if="contact_addition_form.contact_county.$touched">
                                                                    <p class="col-red" ng-message="required">A Contact county is required.</p>
                                                                    <p class="col-red" ng-message="maxlength">Please enter a shorter county name.</p>
                                                                    <p class="col-red" ng-message="pattern">Please enter a valid county.</p>
                                                                </div>
                                                            </md-input-container>
                        
                                                            <md-input-container class="uk-width-medium-1-3">
                                                                <label>Address<!--sup style="color:red">*</sup--></label>
                                                                <input type="text" ng-model="data.contacts.contact_address" name="contact_address" class="md-input" >
                                                                <div class="help-block" style="font-family:  'Andale Mono', sans-serif;" ng-messages="contact_addition_form.contact_address.$error" ng-if="contact_addition_form.contact_address.$touched">
                                                                    <p class="col-red" ng-message="required">A Contact address is required.</p>
                                                                    <p class="col-red" ng-message="maxlength">Please enter a shorter address.</p>
                                                                    <p class="col-red" ng-message="pattern">Please enter a valid address.</p>
                                                                </div>
                                                            </md-input-container>
                        
                                                            <md-input-container class="uk-width-medium-1-3">
                                                                <label>Birthday<!--sup style="color:red">*</sup--></label>
                                                                <input type="text" ng-model="data.contacts.contact_birthday" name="contact_birthday" ng-maxlength="45" class="md-input" >
                                                                <div class="help-block" style="font-family:  'Andale Mono', sans-serif;" ng-messages="contact_addition_form.contact_birthday.$error" ng-if="contact_addition_form.contact_birthday.$touched">
                                                                    <p class="col-red" ng-message="required">A Contact birthday is required.</p>
                                                                    <p class="col-red" ng-message="maxlength">Please enter a shorter birthday.</p>
                                                                    <p class="col-red" ng-message="pattern">Please enter a valid birthday.</p>
                                                                </div>
                                                            </md-input-container>
                                                        
                                                        </div>
                        
                                                        <div class="uk-grid uk-form-row" >
                        
                                                            <div class="uk-width-medium-1-3 " style="padding-top:1.2em;">  
                                                                <md-select name="gender" ng-model="data.contacts.contact_gender" placeholder="Gender"  >
                                                                    <md-option value="">Gender</md-option>
                                                                    <md-option ng-repeat="contact in [{ abbr: 'M', title: 'Male'} ,{ abbr: 'F', title: 'Female'}]" ng-value="contact.abbr" >{{contact.title}}</md-option>
                                                                </md-select>
                                                                <div class="help-block" style="font-family:  'Andale Mono', sans-serif;" ng-messages="contact_addition_form.gender.$error" ng-if="contact_addition_form.gender.$touched">
                                                                    <p class="col-red" ng-message="required" class="uk-text-danger">A Contact contactanization is required.</p>
                                                                </div>
                                                            </div>
                        
                                                            <div class="uk-width-medium-2-3">
                                                                <button 
                                                                style="margin-top:1.8em;"
                                                                    class="md-btn md-btn-lg" 
                                                                    ng-disabled="!( contact_addition_form.$valid)"
                                                                    ng-class="( contact_addition_form.$valid) ? 'md-btn-success' : 'md-btn-danger' "  
                                                                    ng-click="add('contacts', data.contacts);"
                                                                >Add Contact</button>
                                                            </div>
                
                                                        </div>                              
                                                        
                                                    </form> 
                        
                                                </div>
                    
                                            </div>
                                            
                                        </div>
                                    </div>
                                
                                    <div class="uk-width-medium-1-3" >

                                        <form name="contact_upload_form" novalidate>

                                            <div class="uk-grid ">
                                                
                                                <div class="uk-width-1-1 uk-row" style="padding-top:1em;">
                                                    <h5 class="col-blue" style="font-family: 'Andale Mono', sans-serif;"><u>CSV GROUP UPLOAD</u></h5>
                                                </div>

                                                <div class="uk-width-medium-1-2 ">
                                                
                                                    <span ng-init="data.contacts_upload =  data.contacts_upload || {}" class="md-btn uk-align-left md-btn-primary uk-animation-slide-right" style="margin-left:1em !important;">
                                                            <input type="file" name="contact" class="form-control"
                                                            style="background-color:#2196F3 !important; border:0px !important; color:white;font-weight:bold;font-family: 'Andale Mono', sans-serif;" 
                                                            file-model="data.contacts_upload.contact"
                                                            accept=".csv"
                                                            required>
                                                        </span>

                                                    </div>

                                                    <div class="uk-width-medium-1-2 ">

                                                        <button 
                                                            ng-disabled="!data.contacts_upload.contact" 
                                                            ng-class="{'md-btn-success uk-animation-slide-right':data.contacts_upload.contact}" 
                                                            class="md-btn" 
                                                            ng-click="app.upload( data.contacts_upload,'contacts' ).then(app.handler);app.notify('Attempting to upload contacts.');data.contacts_upload.contact=undefined">UPLOAD CONTACTS VIA CSV</button>
                                                        
                                                    </div>
                                                
                                                </div>

                                            </div>

                                        </form>

                                    </div>

                                    
            
                                </div>

                    </li>
                    
                    <li aria-hidden="{{actTab=='edit'}}" ng-class="(actTab == 'edit') ? 'uk-active' :''">
                        
                        <div class="uk-grid md-card">

                            <div class="uk-width-1-1 ">
                                <div class="uk-grid ">
                                    <div class="uk-width-1-1 md-card">
    
                                        <div class="md-card-content">
                                            
                                            <div class="uk-width-3-3 ">
                                                <div  ng-if="fetched.contacts" class="md-card">
                    
                                                    <div class="md-card-content">

                                                        <div class="list list-inset uk-animation-slide-top">
                                                            <label class="item item-input">
                                                                <i class="icon ion-search placeholder-icon"></i>
                                                                <input type="text" ng-model="search" value="" class="md-input" placeholder="Search">
                                                            </label>
                                                            <button class="md-btn" ng-click="fetch('contacts');app.notify('Fetching Groups')"><i class="fa fa-refresh"></i></button>
                                                        </div>
                        
                                                        <table align="center" class="uk-animation-slide-bottom uk-table uk-table-striped  responsive-table" name="content">
                                                            <!-- <thead> -->
                                                            <tr style="font-weight:bold; text-transform:uppercase; color:white !important; font-weight:bold !important; background-color: #2196F3 !important;">
                                                                <th style="color:white !important; font-weight:bold;" ng-click="sort('contact_id')">ID
                                                                    <span class="icon col-white" ng-show="sortKey=='contact_id'" ng-class="{'uk-icon-chevron-up':reverse,'uk-icon-chevron-down':!reverse}"></span>
                                                                </th>
                                                                <th style="color:white !important; font-weight:bold;" ng-click="sort('contact_first_name')">Name
                                                                    <span class="icon col-white" ng-show="sortKey=='contact_first_name'" ng-class="{'uk-icon-chevron-up':reverse,'uk-icon-chevron-down':!reverse}"></span>
                                                                </th>
                                                                <th style="color:white !important; font-weight:bold;" ng-click="sort('contact_phone_number')">Telephone
                                                                    <span class="icon col-white" ng-show="sortKey=='contact_phone_number'" ng-class="{'uk-icon-chevron-up':reverse,'uk-icon-chevron-down':!reverse}"></span>
                                                                </th>
                                                                <th style="color:white !important; font-weight:bold;" ng-click="sort('contact_owner')">OWNER
                                                                    <span class="icon col-white" ng-show="sortKey=='contact_owner'" ng-class="{'uk-icon-chevron-up':reverse,'uk-icon-chevron-down':!reverse}"></span>
                                                                </th>
                                                                <th></th>
                                                            </tr>
                                                            <!-- </thead>
                                                            <tbody> -->                                                                    
                                                            <tr dir-paginate="contact in fetched.contacts |orderBy:sortKey:reverse|filter:search|itemsPerPage:5">
                                            
                                                                <th scope="row" data-label="ID" >{{contact["contact_id"]}}</th>
                                                                <th scope="row" data-label="Name">{{contact['contact_first_name']}} {{contact['contact_last_name']}} </th>
                                                                <th scope="row" data-label="Telephone">{{contact.contact_phone_number}}</th>
                                                                <th scope="row" data-label="Owner">{{contact.contact_owner}}</th>
                                                                <td data-label="" class="noprint" style="margin:0 auto;text-align:center;">
                                                                        
                                                                    <button 
                                                                        title="{{ ( contact.contact_active == 1 ) ? 'Disable Sending' : 'Enable Sending'}}" 
                                                                        class="md-btn" 
                                                                        ng-class="(contact.contact_active==0) ? ' md-btn-danger': 'md-btn-success'; " 
                                                                        style="font-weight:bold; font-size:1em !important; color:white !important; text-align:center;" 
                                                                        ng-click="update('contacts', setVar({ contact_active: (contact.contact_active==1)? false : true },['extras'], 'contact_id='+contact.contact_id) )">
                                                                        <i class="fa" ng-class="( contact.contact_active == 0 ? 'fa-lock':'fa-unlock')"></i>
                                                                    </button>
                                                                    <!-- <button 
                                                                        title="Delete" 
                                                                        class="md-btn" 
                                                                        ng-class="(contact.contact_active==0) ? ' md-btn-danger': 'md-btn-success'; " 
                                                                        style="font-weight:bold; font-size:1em !important; color:white !important; text-align:center;" 
                                                                        ng-click="del('contacts', setVar({  },['extras'], 'contact_id='+contact.contact_id) )">
                                                                        <i class="fa fa-trash"></i>
                                                                    </button> -->
                
                                                                    <!-- ng-click="app.notify('THE CONTACT EDIT FEATURE IS NOT YET DEFINED.');" -->                                                    
                                                                        <button 
                                                                            title="Edit"
                                                                            class="md-btn" 
                                                                            ng-class="(contact.contact_active==0) ? ' md-btn-danger': 'md-btn-success'; " 
                                                                            style="font-weight:bold; font-size:1em !important; color:white !important; text-align:center;" 
                                                                            type="button"
                                                                            uk-toggle="target: #user_edit_modal">
                                                                            <i class="fa fa-pencil"></i>
                                                                        </button>
                                                                </td>
                                                            </tr>
                                                            <!-- </tbody> -->
                                                        </table>                                                           
                                                        <dir-pagination-controls
                                                            max-size="5"
                                                            direction-links="true"
                                                            boundary-links="true" >
                                                        </dir-pagination-controls>
                    
                                                    </div>
                    
                                                </div>
                                            </div>

                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>                        
    
                    </li>
                    
                    <li aria-hidden="{{actTab!='delete'}}" ng-class="(actTab == 'delete') ? 'uk-active' :''">
                            <div class="uk-grid md-card">

                                <div class="uk-width-1-3 ">
                                    <div class="uk-grid ">
                                        <div class="uk-width-1-1 md-card">
        
                                            <div class="md-card-header" style="padding-top:1em;">
                                                <h5 class="col-blue" style="font-family: 'Andale Mono', sans-serif;"><u>CONTACT GROUP DELETING</u></h5>
                                            </div>
                                            <div class="md-card-content">

                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                    </li>
                    
                </ul>
                
            </div>
        </div>
    </div>
</div>
              



